<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        <!-- 파일  -->
        <RollingFile name ="RollingFile">
            <FileName>/var/www/febc/logs/febc.log</FileName>
            <FilePattern>/var/www/febc/logs/%d{yyyy-MM-dd}_febc.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] [%X{ClientIP}] [%X{sessionId}] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
                <TimeBasedTriggeringPolicy module="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min" >
                <Delete basePath="/var/www/febc/logs/" maxDepth="3">
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name ="RollingFileError">
            <FileName>/var/www/febc/logs/febc_error.log</FileName>
            <FilePattern>/var/www/febc/logs/%d{yyyy-MM-dd}_febc_error.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] [%X{ClientIP}] [%X{sessionId}] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
                <TimeBasedTriggeringPolicy module="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min" >
                <Delete basePath="/var/www/febc/logs/" maxDepth="3">
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.egovframe" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingFileError" level = "ERROR"/>
        </Root>
    </Loggers>
</Configuration>
