<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
  <div th:replace="layout/layout_header.html::header"></div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/flatpickr.min.css" />
    <link rel="stylesheet" href="/css/monthSelect.css" />
    <script src="/js/monthSelectPlugin.js"></script>
</head>
<body>
    <div th:replace="layout/layout_menu.html::menu"></div>

    <div class="wrapper">
        <div class="container mt-5">
          <h3 class="mb-3 text-center">지출 / 수입 정보</h3>
          <div class="text-end mb-3">
            <a class="btn btn-warning" role="button" aria-disabled="true" th:href="|/account/view/insert|">지출 / 수입 등록</a>
          </div>
          <form th:action="@{/account/proc/list}" method="post" id="accountListForm">
              <div class="d-flex justify-content-end align-items-center gap-2 mb-3" id="searchCnd">
                  <div class="d-flex align-items-center">
                      <div class="form-check form-check-inline">
                          <label class="form-check-label" >시작월 : </label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input type="text" name="startDate" id="startDate" style="width:80px;">
                      </div>
                      <div class="form-check form-check-inline">
                          <label class="form-check-label" >종료월 : </label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input type="text" name="endDate" id="endDate" style="width:80px;">
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="type" id="expen" value="O" th:checked="${type eq 'O'}" >
                          <label class="form-check-label" for="expen">수입</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="type" id="income" value="I" th:checked="${type eq 'I'}" >
                          <label class="form-check-label" for="income">지출</label>
                      </div>
                  </div>
                  <!-- 검색 필드 -->
                  <input type="text" class="form-control" id="searchData" name="searchData" th:value="${searchData}" placeholder="검색하려는 이름을 입력하세요" style="max-width: 150px;">
                  <!-- 검색 버튼 -->
                  <button class="btn btn-primary" type="submit">검색</button>
              </div>
          </form>
          <table class="table table-bordered table-striped text-center align-middle">
            <thead class="table-dark">
              <tr>
                <th style="width: 5%;">No</th>
                <th style="width: 15%;">해당 일</th>
                <th style="width: 20%;">지출종류</th>
                <th style="width: 20%;">지출 내역</th>
                <th style="width: 20%;">지출 금액</th>
                <th style="width: 20%;"></th>
              </tr>
            </thead>
            <tbody>
            <tr th:if="${contents.isEmpty()}">
              <td class="text-center" colspan="9">검색 결과가 없습니다.</td>
            </tr>
            <tr th:unless="${contents.isEmpty()}" th:each="content, status : ${contents}" >
              <td th:text="${content.id}"></td>
              <td th:text="${content.date}"></td>
              <td >
                <span th:if="${#strings.equals(content.type, 'I')}">수입</span>
                <span th:if="${#strings.equals(content.type, 'O')}">지출</span>
              </td>
              <td th:text="${content.expensensType}"></td>
              <td th:text="${content.amount}"></td>
              <td>
                  <div class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-success btn-sm" role="button" aria-disabled="true" th:href="|/account/view/detail/${content.id}|">수정</a>
                  </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:replace="layout/pagination.html::page"></div>
    </div>


</body>
  <!-- Bootstrap JS (선택 사항) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<footer th:replace="layout/layout_footer.html::footer">
</footer>
<script>
    // 이번달 구하기 (YYYY-MM 형식)
    const today = new Date();
    const year = today.getFullYear();
    // 초기 설정
    let startDate = "[[${startDate}]]";
    let endDate =  "[[${endDate}]]";

    // 시작 초기 값이 없으면 전월
    if (startDate === "") {
        const startMonth = String(today.getMonth()).padStart(2, '0');
        startDate = `${year}-${startMonth}`;;
    }
    // 종료 초기값이 없으면 당월
    if (endDate === "") {
        const endMonth = String(today.getMonth() + 1).padStart(2, '0');
        endDate = `${year}-${endMonth}`;;
    }

    $("#startDate").val(startDate);
    $("#endDate").val(endDate);

    // 시작 일
    const startFp = flatpickr("#startDate", {
        locale: "ko",
        dateFormat: "Y-m",
        defaultDate: startDate,
        plugins: [
            new monthSelectPlugin({
            shorthand: true, // "Jan", "Feb"...
            dateFormat: "Y-m", // format output
            altFormat: "F Y", // format display
            theme: "light"
            })
        ],
        onChange: function(selectedDates, dateStr, instance) {
            $("#startDate").val(dateStr);
            startFp.setDate(dateStr, false);
        }
    });
    // 종료일
    const endFp = flatpickr("#endDate", {
        locale: "ko",
        dateFormat: "Y-m",
        defaultDate: endDate,
        plugins: [
            new monthSelectPlugin({
            shorthand: true, // "Jan", "Feb"...
            dateFormat: "Y-m", // format output
            altFormat: "F Y", // format display
            theme: "light"
            })
        ],
        onChange: function(selectedDates, dateStr, instance) {
            $("#endDate").val(dateStr);
            endFp.setDate(dateStr, false);
        }
    });
    // 페이지 이동
    function page(page) {
        let form = $("#accountListForm");
        const param = $("<input type='hidden' value=" + page + " name='page' readonly>");
        form.append(param)
        form.submit();
    }
</script>
